{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "es2020": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "overrides": [
    {
      "files": ["src/index.js", "src/redux/index.js"],
      "rules": {
        "no-void": "off"
      }
    }
  ]
}
