{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "es2020": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "standard",
    "react"
  ],
  "overrides": [
    {
      "files": [
        "src/index.js",
        "src/redux/index.js"
      ],
      "rules": {
        "no-void": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {}
    }
  }
}
